# 样例：某一个站点的处理

In [42]:
# Data Loading
import os
import pandas as pd
import numpy as np

metro_train_file_path = '/home/zhibo/data/hexi/hexi2/global_urban_computing/data/temp'
metro_train_data = pd.read_csv(metro_train_file_path+'/station_46.csv') 

metro_train_data['timestamp'] = pd.to_datetime(metro_train_data['timestamp'])
metro_train_data['week_day'] = metro_train_data['timestamp'].dt.dayofweek
metro_train_data['current_hour'] = metro_train_data['timestamp'].dt.hour
metro_train_data[['lag_yesterday_in','lag_yesterday_out']] = metro_train_data[['inNums','outNums']].shift(periods=144).fillna(-1).astype(int)
metro_train_data[['lag_last_week_in','lag_last_week_out']] = metro_train_data[['inNums','outNums']].shift(periods=144*7).fillna(-1).astype(int)
metro_train_data['is_holiday'] = metro_train_data['week_day'].isin([5,6])
metro_train_data.set_index('timestamp',inplace=True)
metro_train_data.loc['2019-01-01','is_holiday']=True
metro_train_data['is_holiday'] = metro_train_data['is_holiday']*1
metro_train_data.head()

,inNums,outNums,week_day,current_hour,lag_yesterday_in,lag_yesterday_out,lag_last_week_in,lag_last_week_out,is_holiday
timestamp,,,,,,,,,
2019-01-01 00:00:00,0,0,1,0,-1,-1,-1,-1,1
2019-01-01 00:10:00,0,0,1,0,-1,-1,-1,-1,1
2019-01-01 00:20:00,0,0,1,0,-1,-1,-1,-1,1
2019-01-01 00:30:00,0,0,1,0,-1,-1,-1,-1,1
2019-01-01 00:40:00,0,0,1,0,-1,-1,-1,-1,1

# 主要代码

In [1]:
import os
import pandas as pd
metro_train_file_path = '/home/zhibo/data/hexi/hexi2/global_urban_computing/data'

for i in range(81):
    metro_train_data = pd.read_csv(metro_train_file_path + '/temp/station_' + str(i) + '.csv') 
    metro_train_data['timestamp'] = pd.to_datetime(metro_train_data['timestamp'])
    metro_train_data['week_day'] = metro_train_data['timestamp'].dt.dayofweek
    metro_train_data['current_hour'] = metro_train_data['timestamp'].dt.hour
    metro_train_data[['lag_yesterday_in','lag_yesterday_out']] = metro_train_data[['inNums','outNums']].shift(periods=144).fillna(-1).astype(int)
    metro_train_data[['lag_last_week_in','lag_last_week_out']] = metro_train_data[['inNums','outNums']].shift(periods=144*7).fillna(-1).astype(int)
    metro_train_data['is_holiday'] = metro_train_data['week_day'].isin([5,6])
    metro_train_data.set_index('timestamp',inplace=True)
    metro_train_data.loc['2019-01-01','is_holiday']=True
    metro_train_data['is_holiday'] = metro_train_data['is_holiday']*1
    metro_train_data.to_csv(metro_train_file_path + '/data_feature/st_' + str(i) + '.csv')

In [14]:
metro_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 5 columns):
timestamp       3600 non-null datetime64[ns]
inNums          3600 non-null int64
outNums         3600 non-null int64
DayofWeek       3600 non-null int64
current_hour    3600 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 140.7 KB

In [52]:
metro_train_data[(metro_train_data['timestamp'].dt.day==4) & (metro_train_data['timestamp'].dt.hour> 6)].head(5)

,timestamp,inNums,outNums,DayofWeek,current_hour,lag_yesterday_in,lag_yesterday_out,lay_last_week_in,lay_last_week_out
474,2019-01-04 07:00:00,95,54,4,7,98,76,-1,-1
475,2019-01-04 07:10:00,116,93,4,7,102,110,-1,-1
476,2019-01-04 07:20:00,158,102,4,7,177,93,-1,-1
477,2019-01-04 07:30:00,237,150,4,7,234,163,-1,-1
478,2019-01-04 07:40:00,259,219,4,7,245,230,-1,-1

In [51]:
metro_train_data[(metro_train_data['timestamp'].dt.day==11) & (metro_train_data['timestamp'].dt.hour> 6)].head(5)

,timestamp,inNums,outNums,DayofWeek,current_hour,lag_yesterday_in,lag_yesterday_out,lay_last_week_in,lay_last_week_out
1482,2019-01-11 07:00:00,95,82,4,7,79,73,95,54
1483,2019-01-11 07:10:00,117,97,4,7,113,75,116,93
1484,2019-01-11 07:20:00,175,99,4,7,163,120,158,102
1485,2019-01-11 07:30:00,247,168,4,7,232,161,237,150
1486,2019-01-11 07:40:00,231,197,4,7,254,222,259,219

In [45]:
metro_train_data[(metro_train_data['inNums']!=0) & (metro_train_data['timestamp'].dt.day>3)].head(20)

,timestamp,inNums,outNums,DayofWeek,current_hour,lag_yesterday_in,lag_yesterday_out
466,2019-01-04 05:40:00,3,2,4,5,3,0
467,2019-01-04 05:50:00,6,2,4,5,7,4
468,2019-01-04 06:00:00,16,3,4,6,13,2
469,2019-01-04 06:10:00,15,14,4,6,20,3
470,2019-01-04 06:20:00,21,24,4,6,32,25
471,2019-01-04 06:30:00,51,24,4,6,66,40
472,2019-01-04 06:40:00,48,43,4,6,49,49
473,2019-01-04 06:50:00,62,44,4,6,92,79
474,2019-01-04 07:00:00,95,54,4,7,98,76
475,2019-01-04 07:10:00,116,93,4,7,102,110
476,2019-01-04 07:20:00,158,102,4,7,177,93
477,2019-01-04 07:30:00,237,150,4,7,234,163
478,2019-01-04 07:40:00,259,219,4,7,245,230
479,2019-01-04 07:50:00,401,365,4,7,397,278
480,2019-01-04 08:00:00,491,534,4,8,482,500
481,2019-01-04 08:10:00,424,842,4,8,455,760
482,2019-01-04 08:20:00,388,712,4,8,404,720
483,2019-01-04 08:30:00,398,812,4,8,413,853
484,2019-01-04 08:40:00,366,1143,4,8,331,1212
485,2019-01-04 08:50:00,263,964,4,8,277,954

In [ ]:
import os
[d for d in os.listdir('/home/zhibo/data/hexi/hexi2/global_urban_computing/data/temp')]